body {
    padding-top: 5rem;
    background-color: rgb(199 198 198 / 27%);
}

.createProp{
    height: fit-content ;
    background-color: white;
    padding: 20px 20px 10px;
    border-radius: 5px;
    gap: 10px;
}

.group{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
button{
    color: white;
    background-color:  rgba(13, 109, 253, 0.662);
    border: none;
    padding: 10px;
    border-radius: 5px; 
}

.entire{
    height: fit-content;
    gap: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto max-content;
    padding: 20px 20px 20px;
    border-radius: 5px;
}

img{
    height: 150px;
    width: 210px;  
}

span{
    width: 100px;
    text-align: center;
    color: white;
    border-radius: 5%;
    background-color:  rgba(13, 109, 253, 0.662);
}

.location{
    color: rgba(104, 104, 104, 0.795);
}

.middle{
    display:flex;
    flex-direction:column;
    width:210px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

a{
    text-decoration: none;
    color: white;
}

.views{
background-color: #1bb59f;
display: flex;
justify-content: center;
border-style: none;
}


.Price-Type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
}

.Bed-Bath{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: white;
    width: auto;
    margin: 25px;
}

p.price{
    background-color:rgba(13, 109, 253, 0.662);
    border-radius: 10px;
    margin-right: 10px;
    color: white;
    padding: 3px;
}

p.type{
    background-color: gold;
    border-radius: 10px;
    color: white;
    padding: 2px;
}

p.bed{
    margin-right: 10px;
}
button.btn{
    width: 120px;
    color: white;
    background-color:   #1bb59f;
    border: none;
    border-radius: 5px; 
}