{% extends "base.html" %}

{% block main %}

<h1>Properties</h1>

<div class = "entire">
    {%for prop in prp %}
    <div class ='middle'>
            <img src = "{{url_for('get_image', filename = prop.photo)}}" alt = 'prop.photo'/>
            <h6>{{prop.title}}</h6>
            <p class="location">📍{{prop.location}}</p>
            <span>${{prop.price}}</span>
        <div class="views">
            <a href ={{url_for('viewProp', propertyid = prop.id)}}>  View Property</a>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}


