{% extends "base.html" %}

{% block main %}

<h1>Properties</h1>

<div class = "entire">
    {%for prop in prp %}

        <img src = "{{url_for('get_image', filename = prop.photo)}}" alt = 'prop.photo'/>
        <div class ='middle'>
            <h3>{{prop.title}}</h3>
            <p>{{prop.location}}</p>
            <p>${{prop.price}}</p>
        </div>

    <a href ={{url_for('viewProp', propertyid = prop.id)}}   <button type ="submit">View Property</button> </a>
    {%endfor%}
</div>
{%endblock%}


