{% extends "base.html" %}

{% block main %}


{% include 'flash_messages.html' %}
<div class = "main">

   <img src = "{{url_for('get_image', filename = prp.photo)}}" alt="{{prp.photo}}">

    <div class = "P-body"> 
        <h3>{{prp.title}}</h3>  
            <div class = "Price-Type">
            <p class ="price">${{prp.price}} </p>
            <p class ="type"> {{prp.propType}}</p>
            </div>
    </div>

        <p>{{prp.descr}}</p>
        

    <div class="Bed-Bath">
        <p class ="bed">🛏️{{prp.numRooms}} Bedrooms</p>
        <p class="bath">🛁{{prp.numBaths}} Bathrooms</p>
    </div>
    
    <p>{{prp.location}}</p>

        <button type="submit" class = "btn">Email Realtor </button>

</div>
{% endblock %}


