{% extends "base.html" %}

{% block main %}

<h1>{{prop.title}}</h1>
{% include 'flash_messages.html' %}
<div class = "entire">
   <img scr =" {{url_for('get_image', filename = prop.photo}}" alt="">
    <div class = "Price-Type">   
        <p>{{prop.price}}</p>
        <p>{{prop.propType}}</p>
    </div>
    
        <p>{{prop.descr}}</p>

    <div class="Bed-Bath">
        <p>{{prop.numRooms}}</p>
        <p>{{prop.numBaths}}</p>
    </div>
    
    <p>{{prop.location}}</p>

        <button type="submit">Email Realtor </button>

</div>
{% endblock %}


